num {
    color: rgb(54, 80, 251);

    title {
        color: rgb(54, 80, 251);
        font-weight: bold;
    }
}

percnt {
    color: rgba(231, 231, 0, 0.776);
}

num * {
    color: rgb(92, 92, 92);
}

gt {
    color: rgba(0, 128, 0, 0.674);
    font-weight: bold;

    title {
        color: rgb(8, 178, 8);
        font-weight: bold;
    }
}

commat * {
    color: darkmagenta;
    background-color: transparent;

    title {
        color: darkmagenta;
        background-color: transparent;
        font-weight: bold;
    }
}

generic {
    color: #d8d8d8;

    title {
        font-weight: bold;
    }
}